<%- include('partials/header') %> 

<%- include('partials/navbar') %> 

<div class="container"> 
  <h1>Perguntas</h1>
  <hr>
  <a href="/perguntar" class="btn btn-primary">Realizar perguntar</a>
  <hr>
  <hr>
  <% pergunta.forEach(pergunta =>{ %>
    <br>
    <div class="card">

      <div class="card-body">
        <p><%= pergunta.title %></p> 
      </div>

      <div class="card-footer">
     <a href="/pergunta/<%= pergunta.id%>">   <button class="btn btn-primary">Responder</button></a>
      </div>

    </div>

    <%  }) %>

</div>

<%- include('partials/footer') %>
