<%- include('partials/header') %> 

<%- include('partials/navbar') %> 

<div class="container" >
  <div class="card-body" >
    <hr>
    <h1><%=pergunta.title %></h1>
    <p><%= pergunta.description%></p>
    <hr>
  </div>

  <form method="post" action="/responder" >
    <h3>Responda</h3>
    <label>Responda:</label>
    <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea>
    <input type="hidden" name="perguntaId" value="<%= pergunta.id%>"/>
    <br><button type="submit" class="btn btn-primary">Responder</button>
  </form>
</div> 

<%- include('partials/footer') %> 